.App{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 500px;
  margin:50px auto;
}
.count_button{
  height: 100px;
  background-color:darkblue;
  display:grid;
  place-items: center;
  font-size: 3rem;
  color: white;
  cursor:pointer;
}
.count_value{
  display:grid;
  place-items: center;
  font-size: 4rem;
  background-color: skyblue;
}
.count_value, .count_button{
  margin:20px 0;
}