*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
.food-card:hover{
    transform:scale(1.03);
}

.food-card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:10px;
}
.food-card-thumbnail{
    width:100%;
    height: 200px;
    /* border-image-width: 2px; */
}
.food-card-title{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.food-card-price{
    color: green;
    font-size:20px;
    font-weight:bold;
    text-align: center;
}
.food-card-description{
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical ;
    color: #444;
    font-weight:initial;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.food-card{
    background-color:rgba(3, 94, 3, 0.473);
    box-shadow:1px 3px 9px 2px rgba(131, 130, 130, 0.637);
    cursor:pointer;
    transition:transform 0.2s ease-in-out;
     position:relative;  /*cross button move cheyyikkan */
}
.food-card-details-section{
    padding:10px;
}
 .food-card--deleted{
    transform:scale(0);
   
}
.food-card--deleted:hover{
    transform:scale(0);
}

.food-card-availability{
    width:fit-content;
    padding: 5px;
    border-radius: 2px;
    margin:5px 0;
    margin:auto;
}

.food-card-availability--available{
    background-color: #74ed47;
}
.food-card-availability--not-available{
    background-color: rgb(252, 85, 85);
    color:white;
}
.food-card-close-button{
    width: 25px;
    height:25px;
    position:absolute;
    right:5px;
    top:5px;
    background-color: rgba(128, 128, 128, 0.342);
    background-image: url(./assets/icons/times-solid.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:center;   /* cross button center il place cheyyan */
    border-radius: 20px;
}
.sort-section{
    padding-top: 5px;
    padding-left:5px;
}